#banner img{
	max-height: 100px;
	min-width: 100%;
}
/*sidebar*/
ul li{
	list-style-type: none;
	margin-block-start: 0.75em;
	margin-block-end: 0.75em;
	padding-inline-start: 18px;
	padding-bottom: 4px;
	padding-top: 4px;
	font-family: system-ui,sans-serif;
	width: 200px;
}
a{
	text-decoration: none;
	color: #999;

}
ul li:hover{
	background-color: #f2f2f2;
	opacity: 1;

}
ul li a:hover{
	color: #1a9cb7;
	cursor: pointer;
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	position: relative;
	
}
/*Kết thúc menu cấp 1*/
.sidebar-title{
	display: none;
	box-shadow: 1px 1px 3px  #d9d9d9 inset;
	height: 414px;
	width: 200px;
}
li:hover .sidebar-title{
	display: block;
	position: absolute;
	top: 100px;
	left: 200px;
	width: 200px;
	background-color: #fefefe;
	
}
/*Kết thúc menu cấp 2*/
.menu-sidebar-title{
	display: none;
	height: 100.5%;
	box-shadow: 1px 1px 5px  #d9d9d9 inset;

}

li:hover > .menu-sidebar-title {
	display: block;
	position: absolute;
	top: 0px;
	min-width: 100%;
	left: 100%;
	background-color: #fefefe;
}
/*Kết thúc menu cấp 3*/
ul li:hover::after{
	border-width: 0 1.5px 1.5px 0;
	display: inline-block;
	padding: 3px;
	margin-left: 110px;
	transform: rotate(-45deg);"

}
