body{
	width: 58%;
	height: 500px;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 2%;
}
h1{
	text-align: center;
	margin: auto;
	color: red;
	font-family: Arial;
}
h2{
	padding-left: 10px;
	font-family: Florence;
}
p{
	padding-left: 15px;
	text-align: justify;
	font-family: Courier;
}
p.source{
	text-align: center;
	font-style: italic;
}
img{
	width: 500px;
	height: 300px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
