body{
	margin: 10px;
	text-align: center;
}
.box{
	margin: 10px;
}
button{
	margin: 20px;
}
h1{
	font-size: 20px;
}
a{
	text-decoration: none;
}
div{
	border: 1px solid;
	margin: 10px;
}
.box-ket-qua{
	height: 30px;
	width: 300px;
	text-align: center;
	margin: 10px 240px;
	border: 0.25px solid red;
	padding: 2px;
}
input{
	text-align: center;
}