            * {
                box-sizing: border-box;
                padding: 0;
                margin: 0;
            }
            /* Header */
            
            .menu-header {
                padding-top: 35px;
                padding-left: 66px;
            }
            
            header {
                background-image: url('../BT15_Car Dealing/img/banner_background.png');
                background-repeat: no-repeat;
            }
            /* Menu */
            
            a {
                color: #FFFFFF;
            }
            
            .navbar-brand {
                font-family: 'Rubik';
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 1.75rem;
                text-align: center;
                letter-spacing: 0.064727px;
                text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.0212013);
            }
            
            .nav-link {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: normal;
                font-size: 1rem;
                line-height: 1.5rem;
                letter-spacing: 0.0509971px;
            }
            
            .btn-primary {
                background: #DEFF06;
                box-shadow: 0rem 1.25rem 2.5rem rgba(0, 0, 0, 0.127264);
                border: none;
                border-radius: 0;
            }
            
            .text-button {
                color: #757575;
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 0.8125rem;
                line-height: 1.1875rem;
                letter-spacing: 0.0509971px;
            }
            /* Title */
            
            .header-main-title:not(.dream) {
                font-family: 'Poppins';
                font-weight: 600;
                font-size: 54px;
                line-height: 81px;
                text-align: center;
                letter-spacing: 1.12px;
                text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.151183);
                margin-top: 8rem;
            }
            
            .dream {
                font-weight: bold;
            }
            
            .header-sub-title {
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                text-align: center;
                color: #FFFFFF;
                mix-blend-mode: normal;
                opacity: 0.91;
                text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.0910043);
            }
            /* Form */
            
            .form-header {
                margin-top: 18px;
            }
            
            .form-control {
                font-family: 'Poppins';
                font-weight: normal;
                font-size: 13px;
                line-height: 19px;
                border-radius: 0;
                letter-spacing: 0.0509971px;
                color: #757575;
                margin: 0;
                height: 55px;
                border: none;
                border-right: 1px solid #D8D8D8;
            }
            
            .col-search {
                margin: 0;
                padding: 0!important;
            }
            /* Img */
            
            .header-img {
                margin-top: 52px;
            }