#div_tong{
	width: 100%;
	height: 2000px;
	margin: auto;
	font-family: cursive;
}
#div_title{
	width: 100%;
	height: 10%;
	float: left;
	background-color: white;
	background-repeat: no-repeat;
	background-image: url(../img/5484b12fd5c4379a6ed5.jpg);
	align-items: center;
}
#div_body{
	width: 100%;
	height: 85%;
	float: left;
	align-items: center;
}
#div_bottom{
	width: 100%;
	height: 4%;
	background-color: pink;
	float: left;
	margin: auto;
}
h1{
	text-align: center;;
	text-transform: uppercase;
	font-family: Arial;
}
table{
	width: 95%;
	height: 90%;
	margin: auto;
	padding: 4%;
}
table.list{
	table-layout: fixed;

}
th{
	height: 5%;
	width: 100%;
}
td{
	width: 100%;
	height: 10%;
	text-align: center;

}
td img{
	width: 200px;
	height: 230px;
}
a{
	text-decoration: none;
}
td a{
	width: 100%;
	height: 10%;
}