#grid{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: auto auto auto;
	padding: 10px;

}
.grid-column {
	height: 400px;
	width: 400px;
	padding: 20px;
	border: 1px solid;
	border-radius: 15px;
}
.grid-column > a img{
	max-width: 350px;
	max-height: 350px;
}
div .text{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: auto auto auto;
	margin: 1%;
}
.grid-text{
	border: 1px solid;
	padding: 10px;
	border-radius: 15px;
	margin: 2%;
}
h2{
	margin: 10px;
	text-align: center;
}
.grid-column:hover,
.grid-text:hover{
	transform: scale(1.05);
	cursor: pointer;
	border-color: red;
}
i{
	text-align: center;
	padding: 10px
} 