#title{
	height: 40%;
	width: 100%;
	float: left;
	background-color: green;
	color: white;
}
#grid{
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: auto auto auto;
	padding: 10px;

}
.grid-column {
	height: 400px;
	width: 400px;
	padding: 20px;
	border: 1px solid;
}
img{
	max-width: 300px;
	max-height: 400px;
	
}
div .text{
	width: 90%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	margin-top: 10px;
}
h2{
	margin: 10px;
}
p{
	margin: 20px;
}