#content{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: auto auto auto;
	padding: 10px;
	margin-right: 10%;
	margin-left: 10%;
}
.grid-content{
	height: 500px;
	width: 400px;
	padding: 20px;
	border: 2px solid;
}
.grid-content img{
	max-height: 400px;
	max-width: 350px;
	border: 1px solid;
	padding: 10px;
	font-size: 30px;
	align-items: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
h2{
	text-align: center;
	margin-top: 5%;
	bottom: 0;
	padding: 5px;
	border: 1px solid;
}
a{
	text-decoration: none;
	color: black;
}