.title{
	text-transform: capitalize;
}
h1{
	text-transform: uppercase;
}
body{
	font-size: 13px;
	width: 58%;
	height: 500px;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 2%;
	border-style: dotted;
	line-height: 10px;
}
.title{
	text-transform: capitalize;
	text-align: center;
}
h1{
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
}
p{
	text-align: justify;
}
b{
	color: red;
}
.date{
  padding-left: 550px;
  font-style: italic;
}