/*-------- RESPONSIVE----- */
/* Mobile */

@media (min-width: 320px) and (max-width:576px) {

    /*======NAVBAR*/
    .header.navbar-default .navbar-nav > .active > a,
    .header.navbar-default .navbar-nav a:hover {
        border-bottom: none;
        color: #75A197;
    }

    .menu-header.navbar-right .dropdown-menu li a {
        line-height: 28px;
    }

    .header .nav .open > a:hover,
    .header .navbar-default .navbar-nav .open .dropdown-menu > li a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #75A197;
    }

    .header .navbar-collapse,
    .dropdown-toggle,
    .dropdown.open {
        background-color: white;
    }
}

/*=========LAYOUT HOME*/
.home .banner {
    position: relative;
    top: 15px;
    height: 250px;
    text-align: center;
}

.home .banner img {
    max-width: 301px;
}
.home .intro .fig {
    height: 90px;
    text-align: center;
}
.home .intro .des p {
    font-size: 12px;
    top: -10px;
}
.home .intro:after {
      margin-top: 120px;
  }
.home .content{
    margin-top: 20px;
}
.home .title{
    font-size: 16px;
}

/*=========LAYOUT PRODUCT*/
/*=========LAYOUT GALLERY*/
/*=========LAYOUT DETAIL-PRODUCT*/
/*=========LAYOUT LOG_IN*/
/*=========LAYOUT REGISTER*/
/*=========LAYOUT CHECKOUT*/
/*=========LAYOUT PAYMENT*/
/*=========LAYOUT CHECKOUT NOTI*/
/*=========LAYOUT CONTACT*/
/*=========LAYOUT PROFILE*/
/*=========LAYOUT INFO-ORDER*/



}

@media (min-width: 575px) and (max-width:767px) {
    /*=========LAYOUT HOME*/
    /*=========LAYOUT PRODUCT*/
    /*=========LAYOUT GALLERY*/
    /*=========LAYOUT DETAIL-PRODUCT*/
    /*=========LAYOUT LOG_IN*/
    /*=========LAYOUT REGISTER*/
    /*=========LAYOUT CHECKOUT*/
    /*=========LAYOUT PAYMENT*/
    /*=========LAYOUT CHECKOUT NOTI*/
    /*=========LAYOUT CONTACT*/
    /*=========LAYOUT PROFILE*/
    /*=========LAYOUT INFO-ORDER*/
}

@media (min-width: 992px) and (max-width: 1199px) {
    /*=========LAYOUT HOME*/
    /*=========LAYOUT PRODUCT*/
    /*=========LAYOUT GALLERY*/
    /*=========LAYOUT DETAIL-PRODUCT*/
    /*=========LAYOUT LOG_IN*/
    /*=========LAYOUT REGISTER*/
    /*=========LAYOUT CHECKOUT*/
    /*=========LAYOUT PAYMENT*/
    /*=========LAYOUT CHECKOUT NOTI*/
    /*=========LAYOUT CONTACT*/
    /*=========LAYOUT PROFILE*/
    /*=========LAYOUT INFO-ORDER*/
}