.content-text{
	width: 100%;
	background-color: white;
	float: left;
}
.content-img{
	min-width: 500px;
	margin-left: 30%;
	margin-top: 10px;
}
.content-img > img{
	max-height: 500px;
	max-width: 300px;
}
h1{
	text-align: center;
	font-family: Copperplate Gothic Light ;
	font-size: 35px;
}

/*Kết thúccontent*/

aside{
	max-width: 385px;
}
.sidebar-img img{
	max-width: 385px;
	padding: 10px;
}
/*Kết thúc sidebar*/
.footer-text{
	font-size:25px;
	padding-left: 10%;
	padding-top: 1%;
	font-family: Arial;
	color: white;
}