ul li {
	list-style: none;
}
li{
	position: relative;
}
a{
	text-decoration: none;
	color: black;
}
li:hover{
	background-color: #f2006361;
	font-size: 22px;
	border-radius: 15px;
	font-style: italic;
}
.pattern {
	display: none;
	position: absolute;
}
li:hover .pattern{
	display: block;
	padding-top: 10px;
}